@import '_normalize';
@import '_vars';
@import '_mixins';

* {
	box-sizing: border-box;
}

body {
	font: 400 16px/1.6 'Josefin Sans', sans-serif;
	color: #fff;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.section {
	&--start {
		height: 740px;
		@include background-image('../img/bg1.jpg');		
		text-align: center;
		position: relative;
	}
	&--choose {
		@include background-image('../img/bg2.jpg');
	}
	&__wrap {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%); 
	}
	&__title {
		text-transform: uppercase;
		font-weight: 200;	
		font-size: 48px; 
		margin: 0;
		line-height: 1;
	}
	&__subtitle {
		margin: 0;
		font-weight: 100;
		font-size: 22px;
		letter-spacing: 4px;
	}
	&__scroll {
		text-decoration: none;
		span {
			font: 400 14px/1.8 'Josefin Sans', sans-serif;
			color: #fff;
			letter-spacing: 2px;
		}
	}
}

.form {
	margin: 55px 0;
	&__input[type="search"] {
		box-sizing: border-box;
		width: 400px;
		height: 50px;
		outline: none;
		margin-right: -5px;
		border: none;
		color: #000;
		text-align: center;
		&::placeholder {
			font-size: 14px;
			letter-spacing: 2px;
			&:focus {
				color: transparent;
			}
		}
	}
	&__submit {
		display: inline-block;
		width: 120px;
		height: 50px;
		border: 2px solid #fff;
		background-color: #5474fd;
		text-transform: uppercase;
		font: 400 14px 'aleo', sans-serif;
		&:hover,
		&:focus,
		&:active {
			background-color: #073f8b;
		}	
		svg {
			display: inline-block;
			vertical-align: middle;
			margin: 0 3px;
		}	
	}
	
}
.menu {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0; 
	background-color: #5474fd;
	&__main {
		position: absolute;
		left: 120px;
		top: 30px;
		@include link-decoration();
		font: 400 24px 'Josefin Sans', sans-serif;
	}
	&__items {
		display: inline-block;
		position: absolute;
		top: 30px;
		right: 120px;
		margin: 0;
		vertical-align: middle;
	}
	&__item {
		display: inline-block;
		margin-left: 30px;
		&:hover,
		&:focus,
		&:active {
			border-bottom: 2px solid #fff;
		}
	}
	&__link {
		@include link-decoration();
		font: 400 14px 'aleo', sans-serif;
	}
}
