@import '_normalize';
@import '_vars';
@import '_mixins';

* {
	box-sizing: border-box;
}

body {
	font: 400 16px/1.6 'Josefin Sans', sans-serif;
	color: #fff;
}

.container {
	width: 1110px;
	margin: 0 auto;
	position: relative;
	&--flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.section {
	&--start {
		height: 820px;
		@include background-image('../img/bg1.jpg');		
		text-align: center;
		position: relative;
	}
	&--choose {
		height: 920px;
		position: relative;
		.background {
			@include background-image('../img/bg2.jpg');
		}		
	}
	&--country1 {
		height: 700px;
		@include background-image('../img/bg3.jpg');
	}
	&--country2 {
		height: 700px;
		@include background-image('../img/bg4.jpg');
		.country {
			right: 0;
		}
	}
	&--review {
		height: 730px;
		@include background-image('../img/bg5.jpg');
		padding: 115px 0;
		h1 {
			text-align: center;
			margin-bottom: 100px;
		}
	}
	&__wrap {
		@include position-center();
	}
	&__title {
		font: 400 36px 'aleo', serif;
		margin: 0;
		line-height: 1;
		&--head {
			text-transform: uppercase;
			font: 400 48px 'Josefin Sans', sans-serif;	
		}
	}
	&__subtitle {
		margin: 0;
		font-size: 22px;
		letter-spacing: 4px;
	}
	&__scroll {
		text-decoration: none;
		span {
			font: 400 14px/1.8 'Josefin Sans', sans-serif;
			color: #fff;
			letter-spacing: 2px;
		}
	}
	&__text {
		font-weight: 100;
		margin: 20px 0;
	}
	&__btn {
		width: 225px;
		height: 60px;
		display: block;
		margin: 40px 0;
		background-color: #5474fd;
		@include link-decoration();
		text-align: center;
		letter-spacing: 2px;
		padding: 17px 0;
		cursor: pointer;
		font: 400 16px/1.7 'aleo', serif;
		@include  hover-effect();
	}
	&__comments {
		height: 285px;
		margin: 30px 0;
		display: flex;
	}
	&__comment {
		width: 660px;
		background-color: #333;
		padding: 50px;
		.author {
			font: 400 20px/1.3 'Josefin Sans', sans-serif;
			text-transform: uppercase;
			margin-top: 0;
		}
		.fas.fa-quote-left {
			color: #5474fd;
			font-size: 16px;
		}
	}
}

.form {
	margin: 55px 0;
	&__input[type="search"] {
		box-sizing: border-box;
		width: 400px;
		height: 50px;
		outline: none;
		margin-right: -5px;
		border: none;
		color: #000;
		text-align: center;
		&::placeholder {
			font-size: 14px;
			letter-spacing: 2px;
			&:focus {
				color: transparent;
			}
		}
	}
	&__submit {
		display: inline-block;
		width: 120px;
		height: 50px;
		border: 2px solid #fff;
		padding-left: 15px;
		background-color: #5474fd;
		text-transform: uppercase;
		font: 400 14px 'aleo', serif;
		@include  hover-effect();
		svg {
			display: inline-block;
			vertical-align: middle;
			margin: 0 7px;
		}	
	}	
}

.menu {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0; 
	background-color: #5474fd;
	&__main {
		position: absolute;
		left: 120px;
		top: 30px;
		@include link-decoration();
		font: 400 24px 'Josefin Sans', sans-serif;
	}
	&__items {
		display: inline-block;
		position: absolute;
		top: 30px;
		right: 120px;
		margin: 0;
		vertical-align: middle;
	}
	&__item {
		display: inline-block;
		margin-left: 30px;
		@include hover-link();
	}
	&__link {
		@include link-decoration();
		font: 400 14px 'aleo', serif;
	}
}

.choose {
	position: absolute;
	bottom: 0; 
	height: 280px;
	width: 100%;
	background-color: #333;
	.line {
		position: absolute;
		left: 50%;
		top: 25%;
		transform: translate(-50%,-50%); 
		z-index: 1;
	}
	&__items {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		z-index: 2;
		margin-top: 80px;
		padding-left: 20px;
	}	
	&__item {
		display: inline-block;
		margin: 0;
		@include hover-link();
	}
	&__link {
		text-decoration: none;
		font: 400 30px 'aleo', serif;
		color: #fff;
		img {
			display: block;
			margin: 0 0 20px 50px;
		} 
	}	
}

.column {
	width: 540px;
	position: relative;
	margin: 100px auto;
	img {
		height: 225px;
		width: 350px;		
	}
	.first {
		position: absolute;
		top: 15px;
		right: 70px;
	}
	.second {
		position: absolute;
		right: 0;
		top: 245px;
	}
	h1 {
		margin: 100px 0 50px;
	}
}

.country {
	width: 540px;
	height: 370px;
	background-color: rgba(38,34,34, .9);
	position: absolute;
	top: 220px;
	padding: 0 30px;
	&__subtitle,
	&__title {
		font-size: 20px;
		font-weight: 300;
	}
	&__subtitle {
		letter-spacing: 2px;
		margin-top: 45px;
	}
	&__title {
		text-transform: uppercase;
	}
}

.slider {
	width: 80px;
	height: 50px;
	position: absolute;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	margin: 5px;
	background: url(../img/arrow.png) center no-repeat;
	transition: all .25s ease;
	&__prev {
		right: 90px;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__next {
		transform: rotate(180deg);
		right: 0;
		&:hover {
			transform: rotate(180deg) scale(1.1);
		}
	}
}

.footer {
	background-color: #232323;
	display: flex;
	flex-direction: column;
	text-align: center;
	&__title {
		margin-top: 110px;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 4px;
	}
	&__subtitle {
		letter-spacing: 1px;
	}
	.social__links {
		display: inline-block;
		padding: 0;
		margin-bottom: 50px;
	}
	.social__link {
		display: inline-block;
		text-align: center;
		margin: 11px;
		a {
			transition: all .25s ease;
		}
		i {
			color: #fff;
		}
	}
}

.fab.fa-facebook-f:hover {
	color: #5c75a8;
}

.fab.fa-twitter:hover {
	color: #00aced;
}

.fab.fa-linkedin-in:hover {
	color: #5474fd;
}

.fab.fa-youtube:hover {
	color: #ef3251;
}

.fab.fa-pinterest:hover {
	color: #bf1f39;
}


